@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 box-border list-none scroll-smooth p-0;
  }

  body {
    @apply min-h-screen bg-light-2 font-helvetica text-black;
  }
}

@layer components {
  /* SHADCN COMPONENTS */

  /* Button */
  .shad-button_primary {
    @apply flex gap-2 bg-primary-600 text-[11px] font-bold text-light-1 hover:bg-primary-700 sm:text-sm !important;
  }

  .shad-button_dark {
    @apply flex gap-2 bg-black text-[16px] font-normal text-light-1 hover:bg-gray-700 sm:text-xl sm:font-medium !important;
  }
}

.logos-slide {
  animation: slide 35s infinite linear;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

@layer utilities {
  .paused {
    animation-play-state: paused;
  }

  .h-fit {
    @apply h-[calc(100vh-70px)] sm:h-[calc(100vh-80px)];
  }
}
